//breakpoint export

// 1320px iframe width & device window width > 1280px

$breakpoint1280: 952px; // 952px iframe width & device window width < 1280 px;
$breakpoint1024: 688px; // 688px iframe width & device window width < 1024 px;
$breakpoint768: 448px; // 448px iframe width & device window width < 768 px;
$breakpoint400: 359px; // 359px iframe width & device window width < 400 px;