<!-- .section_container add -->
<div class="videoinfocards standart_margin_bottom">
    <a href="https://www.youtube.com/watch?v=E3NYIAcNpvc" class="videoinfocards_item videobg" target="_blank">
        <div class="videoinfocards_button">
            <svg class="videoinfocards_button_icon" width="25" height="25" viewBox="0 0 25 25" fill="none" xmlns="http://www.w3.org/2000/svg">
                <mask id="mask0_1721_45" style="mask-type:luminance" maskUnits="userSpaceOnUse" x="0" y="0" width="25" height="25">
                <path d="M0 0H25V25H0V0Z" fill="white"/>
                </mask>
                <g mask="url(#mask0_1721_45)">
                <path fill-rule="evenodd" clip-rule="evenodd" d="M23.0562 15.8812C25.6578 14.3781 25.6578 10.6219 23.0562 9.11719L9.76719 1.43437C7.16406 -0.0703129 3.90625 1.80937 3.90625 4.81719V20.1828C3.90625 23.1906 7.16406 25.0703 9.76719 23.5641L23.0562 15.8812Z" fill="#409690"/>
                </g>
            </svg>
        </div>
        <div class="videoinfocards_cover"></div>
        <video autoplay="" class="videoinfocards_desktop_video pre-video" loop="" muted="" playsinline="">
        <source src="./resources/video.webm" type="video/webm" />
        </video>
        <video autoplay="" class="videoinfocards_mobile_tablet_video pre-video" loop="" muted="" playsinline="">
        <source src="./resources/video_smartph.mp4" type="video/mp4" />
        </video>
        <iframe allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen="" class="video-iframe" frameborder="0" id="videoiframe" src="https://www.youtube.com/embed/dhhWjTB2P10" style="height: 100% !important;" title="YouTube video player"></iframe>
        <div class="videoinfocards_text white_text_color">
            <h2 class="videoinfocards_title">Унікальне гравіювання на гаджетах</h2>
            <span class="videoinfocards_subtitle">Корпоративні подарунки Вашим колегам, партнерам та клієнтам</span>
        </div>
    </a>
    <div class="videoinfocards_item lightbg watches">
        <a href="https://media.gelius.ua/catalog/Catalog_Gelius_2024_ua.pdf" target="_blank" class="videoinfocards_button_download download_bg">
            <svg class="videoinfocards_button_download_icon" width="25" height="25" viewBox="0 0 25 25" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M4.16675 17.7083V19.7917C4.16675 20.3442 4.38624 20.8741 4.77694 21.2648C5.16764 21.6555 5.69755 21.875 6.25008 21.875H18.7501C19.3026 21.875 19.8325 21.6555 20.2232 21.2648C20.6139 20.8741 20.8334 20.3442 20.8334 19.7917V17.7083M7.29175 11.4583L12.5001 16.6667M12.5001 16.6667L17.7084 11.4583M12.5001 16.6667V4.16666" class="download_bg_icon" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
             </svg>
        </a>
        <div class="videoinfocards_text text_color">
            <h2 class="videoinfocards_title">Закупівлі за оптовими цінами у виробника</h2>
            <span class="videoinfocards_subtitle">Павербанки, смарт годинники та багато інших гаджетів</span>
        </div>
        <img class="watches_img" src="./resources/watches.png">
    </div>
    <div class="videoinfocards_item darkbg">
        <div class="darkbg_items">
            <img class="darkbg_item" src="./resources/marketing1.png">
            <img class="darkbg_item" src="./resources/marketing2.png">
            <img class="darkbg_item" src="./resources/marketing3.png">
            <img class="darkbg_item" src="./resources/marketing4.png">
        </div>
        <div class="videoinfocards_text white_text_color">
            <h2 class="videoinfocards_title">Спільні маркетингові активності</h2>
            <span class="videoinfocards_subtitle">Більш ніж 10 успішних кейсів по колаборації з зірками</span>
        </div>
    </div>
</div>