<div class="infocards standart_margin_bottom">
    <div class="section_container infocards_container">
        <div class="infocards_item dark-bg">
            <div class="infocards_top_bg infocard_dark-bg" style="background-image:url('./resources/image_475e8g-power-04.jpg');">
            </div>
            <div class="infocards_body">
                <h3 class="infocards_body_title text_color">Технологія Super Charge</h3>
                <span class="infocrads_body_subtitle text_color">G-Power визначає найбільший ток заряду підключеного пристрою від 0.1 до 2.4A.</span>
            </div>
        </div>
        <div class="infocards_item dark-bg">
            <div class="infocards_top_bg infocard_dark-bg" style="background-image:url('./resources/image_f1d71g-power-02.jpg');">
            </div>
            <div class="infocards_body">
                <h3 class="infocards_body_title text_color">Жароміцний пластик</h3>
                <span class="infocrads_body_subtitle text_color">Корпус пристрою витримує температуру до 750 С°</span>
            </div>
        </div>
        <div class="infocards_item dark-bg">
            <div class="infocards_top_bg infocard_dark-bg" style="background-image:url('./resources/image_g-power-03.jpg');">
            </div>
            <div class="infocards_body">
                <h3 class="infocards_body_title text_color">Два метри мідного кабелю</h3>
                <span class="infocrads_body_subtitle text_color">Кабель мережевого фільтра зроблений із чистої міді та витримує навантаження до 2500 Вт.</span>
            </div>
        </div>
    </div>
</div>