<div class="partners">
    <div class="swiper partners-swiper">
        <div class="swiper-wrapper">
          <div class="swiper-slide"><img src="https://media.gelius.ua/image/catalog/gelius_img/about-brand/partners/7.jpg" alt="partner"></div>
          <div class="swiper-slide"><img src="https://media.gelius.ua/image/catalog/gelius_img/about-brand/partners/zhuk.jpg" alt="partner"></div>
          <div class="swiper-slide"><img src="https://media.gelius.ua/image/catalog/gelius_img/about-brand/partners/vodafone.jpg" alt="partner"></div>
          <div class="swiper-slide"><img src="https://media.gelius.ua/media_files/image_comfy.jpg" alt="partner"></div>
          <div class="swiper-slide"><img src="https://media.gelius.ua/media_files/image_epi.jpg" alt="partner"></div>
          <div class="swiper-slide"><img src="https://media.gelius.ua/image/catalog/gelius_img/about-brand/partners/technoezh.jpg" alt="partner"></div>
          <div class="swiper-slide"><img src="https://media.gelius.ua/image/catalog/gelius_img/about-brand/partners/mobilochka.jpg" alt="partner"></div>
          <div class="swiper-slide"><img src="https://media.gelius.ua/image/catalog/gelius_img/about-brand/partners/bell.jpg" alt="partner"></div>
          <div class="swiper-slide"><img src="https://media.gelius.ua/image/catalog/gelius_img/about-brand/partners/citrus.jpg" alt="partner"></div>
          <div class="swiper-slide"><img src="https://media.gelius.ua/media_files/image_vuho.jpg" alt="partner"></div>
          <div class="swiper-slide"><img src="https://media.gelius.ua/media_files/image_wellcome.jpg" alt="partner"></div>
          <div class="swiper-slide"><img src="https://media.gelius.ua/image/catalog/gelius_img/about-brand/partners/aks.jpg" alt="partner"></div>
          <div class="swiper-slide"><img src="https://media.gelius.ua/image/catalog/gelius_img/about-brand/partners/stylus.jpg" alt="partner"></div>
          <div class="swiper-slide"><img src="https://media.gelius.ua/image/catalog/gelius_img/about-brand/partners/fokstrot.jpg" alt="partner"></div>
          <div class="swiper-slide"><img src="https://media.gelius.ua/image/catalog/gelius_img/about-brand/partners/3.jpg" alt="partner"></div>
          <div class="swiper-slide"><img src="https://media.gelius.ua/image/catalog/gelius_img/about-brand/partners/4.jpg" alt="partner"></div>
          <div class="swiper-slide"><img src="https://media.gelius.ua/image/catalog/gelius_img/about-brand/partners/ktc.jpg" alt="partner"></div>
          <div class="swiper-slide"><img src="https://media.gelius.ua/image/catalog/gelius_img/about-brand/partners/6.jpg" alt="partner"></div>
          <div class="swiper-slide"><img src="https://media.gelius.ua/image/catalog/gelius_img/about-brand/partners/sota.jpg" alt="partner"></div>
          <div class="swiper-slide"><img src="https://media.gelius.ua/image/catalog/gelius_img/about-brand/partners/2.jpg" alt="partner"></div>
          <div class="swiper-slide"><img src="https://media.gelius.ua/image/catalog/gelius_img/about-brand/partners/1.jpg" alt="partner"></div>
          <div class="swiper-slide"><img src="https://media.gelius.ua/image/catalog/gelius_img/about-brand/partners/8.jpg" alt="partner"></div>
          <div class="swiper-slide"><img src="https://media.gelius.ua/image/catalog/gelius_img/about-brand/partners/mishop.jpg" alt="partner"></div>
          <div class="swiper-slide"><img src="https://media.gelius.ua/media_files/image_mta.jpg" alt="partner"></div>
          <div class="swiper-slide"><img src="https://media.gelius.ua/image/catalog/gelius_img/about-brand/partners/expert-logo.jpg" alt="partner"></div>
        </div>
    </div>
</div>