<div class="slider_wrapper">
  <div class="item_slider">
    <div class="swiper-wrapper">
      <img class="swiper-slide" src="./resources/prnt1.jpg">
      <img class="swiper-slide" src="./resources/prnt2.jpg">
      <img class="swiper-slide" src="./resources/prnt3.jpg">
      <img class="swiper-slide" src="./resources/prnt4.jpg">
      <img class="swiper-slide" src="./resources/prnt5.jpg">
    </div>
  </div>
  <div class="slider_imgs">
    <div class="swiper-wrapper">
      <img class="swiper-slide imgs_slide active" src="./resources/prnt1.jpg">
      <img class="swiper-slide imgs_slide" src="./resources/prnt2.jpg">
      <img class="swiper-slide imgs_slide" src="./resources/prnt3.jpg">
      <img class="swiper-slide imgs_slide" src="./resources/prnt4.jpg">
      <img class="swiper-slide imgs_slide" src="./resources/prnt5.jpg">
    </div>
    <div class="swiper-scrollbar scrollbarbg"></div>
  </div>
</div>